<footer class="footer">
  <div class="footer__inner">

      <div class="copyright">
        <span>:: <a href="github.com/bboortz">github</a> :: <a href="https://twitter.com/benboortz">twitter</a> ::</span>
      </div>

  </div>
</footer>

<script src="{{ "assets/main.js" | absURL }}"></script>
<script src="{{ "assets/prism.js" | absURL }}"></script>

{{ if $.Site.Params.showLanguageSelector }}
  <script src="{{ "assets/languageSelector.js" | absURL }}"></script>
{{ end }}

<!-- Extended footer section-->
{{ partial "extended_footer.html" . }}
